:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.book-card {
  transition: all 0.3s ease-in-out; 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;

  &:hover {
    transform: translateY(-5px) scale(1.03) !important; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

.book-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 1rem;
  background-color: rgba(248, 249, 250, 0.5);
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}