/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif; // O la fuente que prefieras
  background-color: #f8fafc; // Un color de fondo suave para toda la app
}

/* Hacemos que el componente raíz ocupe toda la altura y use flexbox vertical */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenido principal se estira para ocupar el espacio */
main {
  flex: 1 0 auto;
  display: flex;       /* Hacemos que main también sea flex */
  flex-direction: column; /* Para que sus hijos puedan usar flex-grow si lo necesitan */
}